@import "tailwindcss";
.table-wrapper .ant-pagination {
  display: flex !important;
  justify-content: space-between !important;
  width: 100%;
}

.table-wrapper .ant-pagination-total-text {
  margin-right: auto !important;
}


.ant-card-type-inner > .ant-card-head {
  background: #CB4E38 !important;
}

.ant-card-type-inner > .ant-card-head-title {
  padding: 12px 0;
}